@mixin mainFonts {
  font-family: 'Helvetica LT Std Light', sans-serif;
}

@mixin secondFonts {
  font-family: 'Merriweather Light Italic', sans-serif;
}

@mixin robotFonts {
  font-family: 'Roboto Regular', sans-serif;
}

@mixin montserratFonts {
  font-family: 'Montserrat Regular', sans-serif;
}

@mixin staffTitle {
  color: #464646;
  @include mainFonts;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.48px;
}

@mixin staffText {
  color: #b3b3b3;
  font-family: 'Helvetica LT Std Light', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.26px;
}
