@import "../mixin";

.section-1 {
  max-width: 1920px;

  background-color: #1d1d1d;
  background-image: url('../img/section1/white.png'), url('../img/section1/black.png');
  background-repeat: no-repeat;
  background-position: 63.5% 101%;
  background-size: contain;
  margin: 430px auto 0 auto;
}

.about-us {
  //background-color: #1d1d1d;
  margin: auto;
  max-width: 934px;
  display: flex;
  //justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fefefe;


  h3 {
    /* Style for "2011" */

    color: #fefefe;
    @include mainFonts;
    font-size: 48px;
    font-weight: 400;
    line-height: 26px;
    /* Text style for "2011" */
    letter-spacing: 0.96px;
  }

  p {
    /* Style for "Lorem ipsu" */
    padding-top: 27px;
    color: #b7b7b7;
    @include montserratFonts;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    /* Text style for "L, orem ip" */
    letter-spacing: 0.3px;
  }

  &-left {
    max-width: 386px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    margin-top: 151px;

    h3 {
      text-align: right;
    }
  }

  &-right {
    max-width: 386px;
    text-align: justify;
    margin-top: 272px;
  }

  &-1 {
    position: relative;
  }

  &-2 {
    margin-top: 255px;
  }

  &-3 {
    position: relative;
  }

  &-4 {
    margin-top: 353px;
  }
}

.main-line {
  width: 155px;
  text-align: center;
  position: relative;
}

.main-line:after {
  content: url("../img/section1/2011.png");
  position: absolute;
  left: 42.5%;
  bottom: 42.5%;
}

.main-line:before {
  content: url("../img/section1/2014.png");
  position: absolute;
  left: 35.5%;
  bottom: 59.5%;
}

.about-us-3:after {
  content: url("../img/section1/2011.png");
  position: absolute;
  left: -24%;
  bottom: 183%;

}

.about-us-3:before {
  content: url("../img/section1/2011.png");
  position: absolute;
  right: 117.8%;
  bottom: 81.5%;
}



